#profilepic{
 padding:50px 0;
  margin-top:50px;
}


.skillset{
    padding: 20px;
    text-align:center;
    font-size:150%;
    font-family:Roboto;
  font-weight:bold;
  text-transform:Uppercase;
}


hr{
  border-color: #EEEEEE -moz-use-text-color #000000;
  border-style: solid none;
  border-width: 1px 0;
  max-width:512px;
  margin: 40px auto 30px;
   border-top: solid 5px;
}
header{
  
  color:#212121;
  font-family:Monsterrat, Roboto,arial;
  font-weight:1000;
  
  padding-bottom:30px;
  
    background: #f50057; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(-90deg, #f50057, #ff9100); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg,  #f50057, #ff9100); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg,  #f50057, #ff9100); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg,  #f50057, #ff9100); /* Standard syntax (must be last) */
}

h1{
  font-size:400%;
}
h1:hover{
  color:#fafafa;
  
}


#myfooter{
   background:#212121;
}

.mynavbar{
  background:#212121;
  text-transform:Uppercase;
  border:none;
}

.mynavbar .navbar-brand{
    font-weight:bold;
   color:#ff9100;
  font-family:Roboto;
}

.mynavbar .navbar-brand:hover,.mynavbar-brand:focus,.mynavbar:active{
 color:#f50057;
}

.mynavbar .navbar-nav li a {
  color: white;
  font-weight:bold;
}
.mynavbar .navbar-nav li a:hover {
  color: #f50057;
  outline: none;
 
}

.mynavbar .navbar-nav li.active a {
  color: #f50057;
  background:#bdbdbd;
}

.mynavbar .navbar-nav li.active a:hover,
.mynavbar.navbar-nav li.active a:focus,
.mynavbar .navbar-nav li.active a:active {
  color: #f50057;
  background: #bdbdbd;
}

.mynavbar .navbar-toggle:hover,
.mynavbar .navbar-toggle:focus {
  background-color: #bdbdbd;
  color:#f50057;
  
}

h2{
  font-family:Roboto;
  font-weight:bold;
  font-size:300%;
    color:#000000;
}

.skills{
    padding: 20px;
    text-align:center;
    font-size:2em;
    font-family:Roboto;
  
}




#Contact{
  font-family:Roboto,arial;
  font-weight:1000;
  padding-bottom:50px;
  padding-top:10px;

 
}

#portfolio .item {
  margin: 0 0 15px;
  right: 0;
    font-family:Roboto,arial;
  font-weight:1000;
  padding-bottom:50px;
  padding-top:10px;
}

#portfolio .item .link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#portfolio .item .link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}

.group        { 
  position:relative; 
  margin-bottom:45px; 
}
input         {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
  

}
input:focus     { outline:none; }

label          {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
}

/* active state */
input:focus ~ label, input:valid ~ label     {
  top:-20px;
  font-size:14px;
  color:#5264AE;
}


.bar  { position:relative; display:block; width:300px; }
.bar:before, .bar:after   {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.myimg{
  height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: 500px;
}

#skills{
  font-family:Roboto,arial;
  font-weight:1000;
  padding-bottom:50px;
  padding-top:10px;

  
    background: #f50057; /* For browsers that do not support gradients */        
    background: -webkit-linear-gradient(-90deg, #f50057, #ff9100); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg,  #f50057, #ff9100); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg,  #f50057, #ff9100); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg,  #f50057, #ff9100); /* Standard syntax (must be last) */
}